body {
    background-color: #EECF6D;
    font-family: 'Roboto', sans-serif;
}

img {
    margin-top: 0px;
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


ul.devoured {
    padding-left: 0px;
}

ul.devoured li {
    list-style-type: none;
    font-size: 20px;
    background-color: #45050C;
    border: 1px solid black;
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    padding-left: 5px;
}

ul.undevoured {
    padding-left: 0px;
}

ul.undevoured li {
    list-style-type: none;
    font-size: 20px;
    background-color: #D5AC4E;
    border: 1px solid black;
    margin: auto;
    width: 100%;
    padding-left: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: bold;
}
.devour-it {
    background-color: #720E07;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}
textarea {
    background-color: #8B6220;
    width: 100%;
}

#create {
    padding-top: 80px;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}

#columns {
    padding-top: 50px;
}

#add {
    background-color: #45050C;
    font-weight: bold;
    color: white;
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .devour-it {
        margin-top: 5px;
    }
    ul {
        text-align: center;
    }
    #create {
        padding-top: 75px;
    }
    #columns {
        padding-top: 25px;
    }
    ul.undevoured li {
        font-size: 20px;
    }
    ul.devoured li {
        font-size: 20px;
    }
    
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .devour-it {
        font-size: 15px;
    }
    #create {
        padding-top: 50px;
    }
    #columns {
        padding-top: 25px;
    }
    ul.undevoured li {
        font-size: 25px;
    }
    ul.devoured li {
        font-size: 25px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    ul.undevoured li {
        font-size: 25px;
    }
    ul.devoured li {
        font-size: 25px;
    }
    .devour-it {
        font-size: 20px;
    }
   .create-burger {
       font-size: 25px;
   }
   h1 {
       font-size: 55px;
   }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    ul.undevoured li {
        font-size: 20px;
    }
    ul.devoured li {
        font-size: 20px;
    }
    .devour-it {
        font-size: 15px;
    }
    #create {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    #columns {
        padding-top: 0px;
    }
    #add {
        font-size: 20px;
    }
}

/* Attributions */
/* Realistic Fast Food.jpg provided by Vecteezy */
/* <a href="https://www.vecteezy.com/free-vector/hamburger">Hamburger Vectors by Vecteezy</a> */